<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--아이콘-->
  <link href="/src/images/wonderland_logo.png" rel="icon" type="image/x-icon" />

  <!--css-->
  <link rel="stylesheet" href="../shopping/shopping.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../shopping/shopping.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="wrap">
    <div class="inner">
      <div class="shopping">
        <div class="info">
          <div class="thumnail">
            <img src="" alt="">
          </div>
          <div class="right">
            <div class="title">
              <p>태교용 도서</p>
            </div>
            <div class="intro">
              <p>작은별</p>
              <p><strong>20,000원</strong></p>
            </div>
            <div class="intro_text">
              <p>작은 별이 여행을 떠나 꿈을 찾아가는 내용입니다.</p>
            </div>
            <div class="buttons">
              <button class="button is-medium bag">장바구니 추가하기</button>
              <button class="button is-medium choice">바로 구매하기</button>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content_title">
            <h2><strong>상세설명</strong></h2>
          </div>
          <div class="img">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>

</body>

</html>