<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1440, initial-scale=1.0">
    <!--폰트-->
    <link href="https://fonts.cdnfonts.com/css/sansita" rel="stylesheet">
    <link rel="stylesheet" href="404.css">
    <script src="404.js"></script>
    <title>404 Not Found</title>
</head>
<body>
  <div id="container">
    <h1>404<br> Page Not Found</h1>
    <p>죄송합니다, 요청하신 페이지를 찾을 수 없습니다.</p>
    <p class="null">아래 버튼을 클릭하여 다른 페이지로 이동하시거나, 다시 시도해보세요</p>
    <ul>
      <li><button type="submit" class="home">홈 페이지로</button></li>
        <li><button type="submit" class="previous">이전 페이지로</button></li>
    </ul>
  </div>
</body>
</html>