<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원 관리</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
      rel="stylesheet"
    />

    <!-- Bulma, CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="admin-users.css" />

    <!-- javascript -->
    <script defer type="module" src="admin-users.js"></script>

    <!-- 파비콘 -->
    <link href="/src/images/wonderland_logo.png" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <header>
      <button id="logout-button" class="button">관리자 로그아웃</button>
    </header>

    <main>
      <section id="orders-section">
        <div id="page-title-div">
          <h4 class="title is-4">회원 관리</h4>
        </div>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">총회원수</p>
              <p class="title">3,456</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">관리자수</p>
              <p class="title">789</p>
            </div>
          </div>
        </nav>

        <table id="order-list" class="table is-hoverable">
          <thead id="test">
            <tr>
              <td>가입날짜</td>
              <td>이메일</td>
              <td>이름</td>
              <td>권한</td>
              <td>관리</td>
            </tr>
          </thead>

          <tbody id="order-list-body"></tbody>
        </table>
      </section>
    </main>
  </body>
</html>
