<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--css-->
  <link rel="stylesheet" href="../index/index.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../index/index.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="main_contents">
    <div class="visual-wrap bgc01">
      <div class="swiper-container swiper-visual">
        <div id="mainBanner" class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230630135944125/7350F16D-7654-49B5-A5F0-D2A9D9BD2D74.PNG"
                id="BNR_MST_IDX_2969" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1182?cPage=1&PLN_MST_IDX=1182">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230628131823817/350BAD76-910C-42DB-B6F8-DF5906436A67.PNG"
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/event/view?cPage=1&GOING_EVENT=1&EVT_MST_IDX=274">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230630152150741/3851291A-5E64-4D38-8DF3-2569EC69AFA1.JPG"
                id="BNR_MST_IDX_2972" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1187?cPage=1&PLN_MST_IDX=1187">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20220930094232392/2BC88E43-D23D-4680-8F01-62D4FBF616B8.JPG"
                id="BNR_MST_IDX_2519" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/991?cPage=1&PLN_MST_IDX=991&PLN_MST_TITLE=">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230623133232188/9F6E2FBB-7FDF-4221-8F13-3A3164566F60.JPG"
                id="BNR_MST_IDX_2956" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1179?cPage=1&PLN_MST_IDX=1179&PLN_MST_TITLE=">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230616101830226/55B130ED-86FF-4157-A188-471A3DCD49E7.JPG"
                id="BNR_MST_IDX_2947" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1174?cPage=1&PLN_MST_IDX=1174&PLN_MST_TITLE=">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230620162733303/1BC73F0A-61F7-44A4-A9B1-14F92B0B281D.JPG"
                id="BNR_MST_IDX_2954" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1177?cPage=1&PLN_MST_IDX=1177&PLN_MST_TITLE=">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230613152138267/B22ED344-8318-4400-93F1-39E809F0F8B6.PNG"
                id="BNR_MST_IDX_2944" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/event/view?cPage=1&GOING_EVENT=1&EVT_MST_IDX=270">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230621132855744/454C62D4-7AC3-43F4-BBF6-9C0D26E0B581.JPG"
                id="BNR_MST_IDX_2926" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1166?cPage=1&PLN_MST_IDX=1166&PLN_MST_TITLE=">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230620093513647/24FB9354-00C2-442A-9042-EDC7639D90E6.JPG"
                id="BNR_MST_IDX_2952" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1171?cPage=1&PLN_MST_IDX=1171">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230609143056400/F4A989BF-23F0-41D5-8896-5DBB5A45783A.JPG"
                id="BNR_MST_IDX_2935" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1170?cPage=1&PLN_MST_IDX=1170">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230609090227367/460F30AC-7A9A-4846-9C7A-AE5BE98F663F.JPG"
                id="BNR_MST_IDX_2931" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1169?cPage=1&PLN_MST_IDX=1169&PLN_MST_TITLE=">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20230517133707083/533F440E-3D1B-4E98-ADE6-2192684586E7.PNG"
                id="BNR_MST_IDX_2898" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/display/event/view?cPage=1&GOING_EVENT=1&EVT_MST_IDX=265">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background="https://cache.wjthinkbig.com/WJMALL/FI-20220125095407892/5C9C6DB4-8CA2-4BF6-8A64-79E16B7E22F4.JPG"
                id="BNR_MST_IDX_1830" data-bnr_mst_tgt="S"
                data-bnr_mst_url="https://www.woongjinbooks.com/pc/product/bebeBookClubInfo">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <script type="text/javascript">
            $(document).ready(function () {
              $("#mainBanner").find('.main-banner').css('cursor', 'pointer');
              $(document).on('click', '.main-banner', function () {
                var $this = $(this);
                var bnr_mst_tgt = $this.data('bnr_mst_tgt');
                var bnr_mst_url = $this.data('bnr_mst_url');

                if (typeof (bnr_mst_tgt) != 'undefined' && typeof (bnr_mst_url) != 'undefined') {
                  if (bnr_mst_tgt == 'N') {
                    window.open(bnr_mst_url);
                  } else if (bnr_mst_tgt == 'S') {
                    location.href = bnr_mst_url;
                  }
                }
              });
            });
          </script>
        </div>

        <div class="control_area">
          <div class="swiper-button-next next-btn"><span class="arrow"></span></div>
          <div class="swiper-button-prev prev-btn"><span class="arrow"></span></div>

          <div class="swiper-page-group">
            <div class="swiper-btn-play"><i class="ico-play"></i></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div><!--//visual-wrap-->

    <div class="second_bestseller">
      <div class="inner">
        <div class="text_area">
          <h2 class="title"> <strong>BEST</strong>SELLER</h2>
          <p class="sub_title">::before 원더랜드 북킷리스트, 베스트 샐러</p>
        </div>
        <div class="book_img">
          <ul>
            <li><a href="">
                <div class="circle_img_box"><img src="" alt=""></div>
              </a></li>
            <li><a href="">
                <div class="circle_img_box"><img src="" alt=""></div>
              </a></li>
            <li><a href="">
                <div class="circle_img_box"><img src="" alt=""></div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="third_newbook">
      <div class="title_box">
        <h2>새로 나온 책</h2>
      </div>
      <div class="banner_wrap">
        <div class="banner">
          <div class="banner_slider">
            <div class="slider multiple-items">
              <div class="slide-item">
                <a
                  href="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/1007?cPage=1&PLN_MST_IDX=1007&PLN_MST_TITLE=">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>아이들의 꿈을 키워주는 동화</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20221031104243812/A30DFB2F-4EE2-465C-A66A-465F4A35B128.JPG"
                        alt="7~9세 연령별 추천도서">
                    </div>
                    <div class="txt-box">
                      <p>7~9세 발달에 따른 연령별 추천도서</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a
                  href="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/976?cPage=1&PLN_MST_IDX=976&PLN_MST_TITLE=">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>4~6세 발달에 따른 연령별 추천도서</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20220914105554844/090160E0-E5C5-419A-A585-DF2D9AE940F8.JPG"
                        alt="4~6세 발달에 따른 연령별 추천도서">
                    </div>
                    <div class="txt-box">
                      <p>4~6세 발달에 따른 연령별 추천도서</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="https://www.woongjinbooks.com/pc/display/exhibitions/view/plan/956?cPage=1&PLN_MST_IDX=956">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>0~3세 발달에 따른 연령별 추천도서</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20220822133135005/BE9F17C4-ED82-4E66-821D-2E8CBF121BFC.JPG"
                        alt="0~3세 발달에 따른 연령별 추천도서">
                    </div>
                    <div class="txt-box">
                      <p>0~3세 발달에 따른 연령별 추천도서</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a
                  href="https://www.woongjinbooks.com/pc/display/exhibitions/view/byul/168?cPage=1&PLN_MST_IDX=168&PLN_MST_TITLE=%ED%98%B8%EA%B8%B0%EC%8B%AC%EA%B3%BC+%EA%B6%81%EA%B8%88%EC%A6%9D%EC%9D%B4+%EB%84%98%EC%B9%98%EB">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>호기심과 궁금증이 넘치는 아이를 위해</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20190522162701064/3B5CD174-5A41-4EC1-9C17-2EEB3685FB6B.JPG"
                        alt="호기심과 궁금증이 넘치는 아이를 위해">
                    </div>
                    <div class="txt-box">
                      <p>호기심과 궁금증이 넘치는 아이를 위한 도서 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="https://www.woongjinbooks.com/pc/display/exhibitions/view/byul/132">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>넌 꿈이 뭐니? 다양한 직업 관련 책 모음</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20190313110703220/25B535A5-6908-4A4A-A682-BFBC8E794192.JPG"
                        alt="넌 꿈이 뭐니? 다양한 직업 관련 책 모음">
                    </div>
                    <div class="txt-box">
                      <p>넌 꿈이 뭐니? 다양한 직업 관련 책 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a
                  href="https://www.woongjinbooks.com/pc/display/exhibitions/view/byul/38?cPage=1&PLN_MST_IDX=38&SORT_ORDER=">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>[TPO] 동물을 사랑하는 아이를 위한 자연탐구 책 모음</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20180612102603888/9E5B278C-300E-414A-8E32-4877B2DB46FB.JPG"
                        alt="[TPO] 동물을 사랑하는 아이를 위한 자연탐구 책 모음">
                    </div>
                    <div class="txt-box">
                      <p>동물을 사랑하는 아이를 위한 자연탐구 책 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="https://www.woongjinbooks.com/pc/display/exhibitions/view/byul/216?cPage=1&PLN_MST_IDX=216">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>우리아이 자존감 만렙 만들기!</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20190826093337912/BBA4F348-1DC6-474F-9A86-879D8B575703.JPG"
                        alt="우리아이 자존감 만렙 만들기!">
                    </div>
                    <div class="txt-box">
                      <p>자존감 높은 아이로 성장할 수 있도록 도와주는 책 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="https://www.woongjinbooks.com/pc/display/exhibitions/view/byul/33?cPage=1&PLN_MST_IDX=33">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>[TPO] 해외 수상작 컬렉션</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20180611165944690/2E621394-BE6C-416F-B028-94850C75B6D4.JPG"
                        alt="[TPO] 해외 수상작 컬렉션">
                    </div>
                    <div class="txt-box">
                      <p>해외 유명 수상작 컬렉션</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="https://www.woongjinbooks.com/pc/display/exhibitions/view/smart/94">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>1000만 데이터로 본 4-7세 인기 키워드 '곤충'!</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20181207180230562/9FBB5249-C3E1-42E2-8AD9-7B81D7F9CDD5.JPG"
                        alt="1000만 데이터로 본 4-7세 인기 키워드 &#039;곤충&#039;!">
                    </div>
                    <div class="txt-box">
                      <p>1000만 데이터로 본 4-7세 인기 키워드 '곤충'!</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="https://www.woongjinbooks.com/pc/display/exhibitions/view/smart/183?cPage=1&PLN_MST_IDX=183">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit" style="background-color:;color:">
                        <p>1000만 건 데이터로 본 인기 키워드 '애완동물' </p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="https://cache.wjthinkbig.com/WJMALL/FI-20190627135235251/32496C00-5F0A-407D-8181-2BC9A8AFAA65.JPG"
                        alt="1000만 건 데이터로 본 인기 키워드 &#039;애완동물&#039; ">
                    </div>
                    <div class="txt-box">
                      <p>1000만 건 데이터로 본 인기 키워드 '애완동물' </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="left shadow"></div>
          <div class="right shadow"></div> -->
        </div>
      </div>
    </div><!--//curation-->

    <div class="fourth_contetn">
      <div class="inner">
        <div class="fourth_img_box">
          <img src="" alt="">
        </div>
        <div class="fourth_img_box">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>