<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="header.css">

    <header>
        <nav>

        <!--메인네비-->
          <div id="gnb-wrap">
            <ul class="gnb-inner">
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">태교용 도서</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">놀이용 도서</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">어린이 동화</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">외국어 동화</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">과학 / IT</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">미술 / 음악</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
