/* default 설정 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
} 

@font-face {
  font-family: 'Noto Sans thin';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

body {
  color: #333333;
  font-family: "Sansita","Noto Sans KR", sans-serif;
  list-style-type: none;
  min-width: 1200px;
}

header {
  color: #333333;
  font-family: "Sansita","Noto Sans KR", sans-serif;
  list-style-type: none;
  min-width: 1200px;
}

/* 상단 네비 */
nav {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 50px 0;
}

.nav-link {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
}

  /* 로고 */
  h1 {
    text-align: center;
    margin: 40px auto;
    font-size: 40px;
    font-weight: 900;
    color: #a269ff;
    font-family: "Sansita", "Noto Sans KR", sans-serif;
    font-style: italic;
    font-size: 50px;
  }
  
  h1 a {
    color: inherit;
    text-decoration: none;
  }

  h1 a:hover {
    color:inherit;
  }
  


/* 장바구니 > 주문결제 > 결제완료 문구 */
#root-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Noto Sans thin";
  font-size: 12px;
  font-weight: 600;
  color: grey;
}

.root-ul {
  display: flex;
  align-items: baseline;
  flex-basis: 950px;
  margin-bottom: 20px;
}


.shopping-cart {
  font-size: 25px;
  font-family: "Noto Sans KR";
  font-weight: 800;
  color: #333;
}


/* 카드 테이블, 카트상단줄 */
#upper-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.upper-table {
  width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.upper-table th {
  background-color: #a269ff;
  color: rgb(233, 233, 233);
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* 메인카트 */
.upper-table th:first-child,
.upper-table td:first-child {
  width: 15%;
}

.upper-table th:nth-child(2),
.upper-table td:nth-child(2) {
  width: 15%;
}

.upper-table th:nth-child(3),
.upper-table td:nth-child(3) {
  width: 25%;
}

.upper-table th:nth-child(4),
.upper-table td:nth-child(4) {
  width: 15%;
}

.upper-table th:nth-child(5),
.upper-table td:nth-child(5) {
  width: 15%;
}

.upper-table th:nth-child(6),
.upper-table td:nth-child(6) {
  width: 15%;
}


tr.cart-container:nth-child(n+3) {
  border-top: 1px dotted #333333;
}

tr {
  display: flex;
  align-items: center;
}

th {
  height: 50px;
}



/* 빈카트 안보이게 */
.empty-cart {
  display: none;
  margin: 40px auto;
  width: 100%;
  justify-content: center;
  font-size: 18px;
}


/* 카트 하단줄 */
#lower-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


.cart-lower {
  display: flex;
  width: 1200px;
  background-color: #a269ff;
  font-size: 16px;
  color: white;
  justify-content: flex-end;
  align-items: baseline;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.lower-emptytotal {
  margin-right: 100px;
}

.cart-lower > span {
  margin-left: 10px;
}

.lower-total {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}




#confirm-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.order-list {
  display: flex;
  width: 1200px;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.confirm,
.del-btn {
  margin-right: 10px;
}
.confirm {
  margin-left: 10px;
}

.del-btn {
  color: blue;
  cursor: pointer;
}

.pur-btn {
  color: #a269ff;
  cursor: pointer;
}

/* 모달 */
.order-modal,
.delete-modal,
.no-modal,
.all-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.order-modal.show,
.delete-modal.show,
.no-modal.show,
.all-modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  position: relative;
  width: 320px;
  height: 180px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  font-weight: 600;
}

.order-button-parent,
.delete-button-parent,
.all-button-parent {
  margin-top: 30px;
}

#order-popup-process,
#order-popup-cancel,
#delete-popup-process,
#delete-popup-cancel,
#no-popup-process,
#all-popup-process,
#all-popup-cancel {
  color: white;
  font-weight: 800;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 30px;
  border: none;
  cursor: pointer;
}

#order-popup-process,
#delete-popup-process,
#all-popup-process,
#no-popup-process {
  background: #a269ff;
  margin-right: 20px;
}

#no-popup-process {
  margin-right: 0;
  margin-top: 30px;
}

#order-popup-cancel,
#delete-popup-cancel,
#all-popup-cancel {
  background: #767676;
}

/* 체크박스 디자인 */
    input[type="checkbox"] {
        appearance: none;
        min-width: 1.4rem;
        min-height: 1.4rem;
        cursor: pointer;
        outline: none;
        border: 2px solid #eeeeee;
        border-radius: 10px;
        background: #fbfbfb;
    }
    input[id="select-each"] {
      border: 1px solid #686868;
  }
    input[type="checkbox"]::before {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        transform: scale(0) translate(-50%, -50%);
        line-height: 1;
        font-size: 0.8rem;
    }
 
    input[type="checkbox"]:checked {
        background-color: #a269ff;
        border-color: rgba(255, 255, 255, 0.3);
        color: white;
        font-weight: 900;
    }
 
    input[type="checkbox"]:checked::before {
        border-radius: 10px;
        transform: scale(1) translate(-50%, -50%)
    }
    #select-all {
      transform: translateY(10px);
    }
    #select-all,
    #select-each {
      margin: 1px 40px 4px 0;
      transform: translateX(40px);
    }

    /* 페이지 표시 */
    #page-container {
      display: flex;
      width: 1200px;
      justify-content: flex-start;
      margin: 0 auto;
      padding-bottom: 5px;
    }

    /* 버튼 디자인 */
    .btn-parent {
      display: flex;
      flex-basis: 900px;
      align-items: baseline;
      justify-content: flex-end;
      margin-top: 30px;
    }

    .confirm-btn {
      background-color: #6454E8;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
      padding: 10px 15px;
      color: #fbfbfb;
      cursor: pointer;
    }

    /* 수량 조절 디자인 */

    .fa-sharp.fa-solid.fa-circle-minus.fa-lg,
    .fa-sharp.fa-solid.fa-circle-plus.fa-lg {
    cursor: pointer;
}

