<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>마이페이지</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
      rel="stylesheet"
    />

    <!-- Bulma, CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="mypage.css" />

    <!-- javascript -->
    <script defer type="module" src="mypage.js"></script>

    <!-- 파비콘 -->
    <link href="/src/images/wonderland_logo.png" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <header id="navbar"></header>

    <main>
      <!-- <div id="title-div">
        <h1>Wonderland</h1>
      </div> -->
      <div id="box-list">
        <div id="account-security" class="box box-color-01">
          <img class="box-icon" src="../../images/free-icon-user-747376.png" alt="내 정보 관리" />
          <div>
            <h2 class="title is-2">내 정보 관리</h2>
            <p class="subtitle is-5">회원정보를 확인, 수정할 수 있습니다</p>
          </div>
        </div>

        <div id="account-orders" class="box box-color-02">
          <img class="box-icon" src="../../images/free-icon-edit-file-5372190.png" alt="주문 조회" />
          <div>
            <h2 class="title is-2">주문 조회</h2>
            <p class="subtitle is-5">주문을 확인, 수정할 수 있습니다</p>
          </div>
        </div>

        <div id="customer-inquiry" class="box box-color-02">
          <img class="box-icon" src="../../images/free-icon-help-984199.png" alt="문의 내역" />
          <div>
            <h2 class="title is-2">문의 내역</h2>
            <p class="subtitle is-5">문의를 확인, 수정할 수 있습니다</p>
          </div>
        </div>

        <div id="account-remove" class="box box-color-01">
          <img class="box-icon" src="../../images/free-icon-remove-user-4302000.png" alt="회원 탈퇴" />
          <div>
            <h2 class="title is-2">회원 탈퇴</h2>
            <p class="subtitle is-5">회원 탈퇴를 요청할 수 있습니다</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
