
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="modal.css">
  
      <!--주문하기 모달-->
      <div class="order-modal">
        <div class="modal-body">
          <p><span class="variable-quantity">n</span><span>개의 상품을</span><br>
            <span>구매하시겠습니까?</span></p>
          <div class="order-button-parent">
            <button id="order-popup-process">확인</button>
            <button id="order-popup-cancel">취소</button>
          </div>
        </div>
      </div>
      
      <!-- 삭제버튼 모달창 -->
      <div class="delete-modal">
        <div class="modal-body">
          <p><span class="variable-quantity">n</span><span>개의 상품을</span><br>
            <span>삭제하시겠습니까?</span></p>
          <div class="delete-button-parent">
            <button id="delete-popup-process">확인</button>
            <button id="delete-popup-cancel">취소</button>
          </div>
        </div>
      </div>
      
      <!-- 선택된 상품이 없을경우 모달 -->
      <div class="no-modal">
        <div class="modal-body">
          <p><span>상품을 선택해주세요.</span></p>
          <div class="no-button-parent">
          <button id="no-popup-process">확인</button>
        </div>
        </div>
      </div>

      <!-- 전체구매 모달창 -->
      <div class="all-modal">
        <div class="modal-body">
          <p><span class="variable-quantity">n</span><span>개의 상품을</span><br>
            <span>삭제하시겠습니까?</span></p>
          <div class="all-button-parent">
            <button id="all-popup-process">확인</button>
            <button id="all-popup-cancel">취소</button>
          </div>
        </div>
      </div>